h1 {
    font-family: Helvetica;
    font-size: 100px;
    font-weight: bold;
    color:khaki;
    text-align: center;
    background-image: url("pattern.jpeg")
}

h2 {
    font-family: Helvetica;
    font-size: 32px;
    font-weight: bold;
    color: white;
}

.brushes {
    background-color: mediumspringgreen;
}

.price {
    font-family: Helvetica;
    font-weight: bold;
    color: blue;
}

.frames {
    background-color: lightcoral;
}

.paint {
    background-color: skyblue;
}